<div class="row">
	<div class="col-sm-offset-2 col-md-3">
		<%= image_tag @photo.image.url(:original) %></br>
		<strong><%= @photo.description %></strong></br>
		<% if current_user %>
			<%= link_to "Like", likes_path(photo_id: @photo), method: :post %>
			(<%= @photo.likes.count %>)
		<% end %>
	</div>
</div>